<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./etc/header')%>
</head>
<body>
    <section>
        <h1>Gecmis Teklifler</h1>
        <ul>
            <% teklif.forEach(MYK => { %>
                <li>
                    <a href="#"><%=MYK.title%> / <%=MYK.subTitle%> / <%=MYK.date%></a>
                    
                </li>
            <% }) %>
        </ul>
    </section>


</body>    
</html>