<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./etc/header')%>
</head>
<body>
    <%-include('./etc/nav')%>
    <h1>Login</h1>
    <section>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Kullanici_adi" required>
            <input type="password" name="password" placeholder="Parola" required>
            <input type="sub" value="Gonder">
        </form>
    </section>
</body>    
</html>