<nav>
    <h1>TSA Teklif Master</h1>
    <ul>
        <li><a href="/">Anasayfa</a></li>
        <li><a href="/myk">MYK</a></li>
        <li><a href="/me">Mesleki E.</a></li>
        <li><a href="/osgb">OSGB</a></li>
        <li><a href="/ortmolc">Ortam Ö.</a></li>
        <li><a href="/about">Hakkimizda</a></li>
        <li><a href="/login">Giris</a></li>
        <li><a href="/history">Gecmis</a></li>
    </ul>
</nav>